.card {
  .wrapper-mob();
  border: 1px solid  #ececec;
  display: flex;
  justify-content: center;
}

.card__wrapper {
  padding-top: 25px;
  padding-left: 28px;
  padding-bottom: 26px;
  padding-right: 27px;
}

.card__title {
  margin: 0;
  margin-bottom: 4px;
}

.card__text {
  padding-bottom: 20px;
  border-bottom: 1px solid  #ececec;
}

.card__title-link {
  .item-title();
  color: #000000;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__params {
  font-size: 13px;
  line-height: 30px;
  color: @col-grey;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
  // margin-bottom: 26px;
}

.card__cost {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
}

.card__wrapper-big {
  cursor: pointer;

  &:hover {
    box-shadow: 0 8px 8px 2px #ececec;
  }

  &:active {
    box-shadow: 0 2px 8px 2px #ececec;
  }
}

.card__cart-svg {
  cursor: pointer;

  &:hover {
    fill: #63d1bb;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;

  padding: 0;
}

@media only screen and (min-width: @tablet-width) {
  .card {
    display: flex;
    width: 100%;
    border: none;
    box-sizing: border-box;
    margin-bottom: 52px;
  }

  .card__wrapper-big {
    .wrapper-tab();
    border: 1px solid  #ececec;
    display: flex;
  }


  .card__wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 23px;
    padding-right: 34px;
    padding-left: 28px;
  }

  .card__title {
    width: 240px;
    margin-bottom: 6px;
  }

  .card__title-link {
    font-size: 20px;
    line-height: 24px;
  }

  .card__params {
    font-size: 15px;
    line-height: 30px;
  }

  .card__text {
    margin-right: 0;
    margin-left: -3px;
    border: none;
  }

  .card__img {
    width: 334px;
    height: 333px;
    background-color: gold;
  }

  .card__footer {
    border-top: 1px solid  #ececec;
    margin-top: auto;
    padding-top: 22px;
    padding-left: 3px;
  }

  .card__cost {
    font-size: 17px;
  }
}

@media only screen and (min-width: @desktop-width) {
  .card {
    width: 315px;
    box-sizing: border-box;
    display: flex;
    margin-left: 0;
    margin-bottom: 57px;
    // border: 1px solid #ececec;
  }

  .card__wrapper {
    padding-top: 26px;
    padding-left: 29px;
    padding-right: 32px;
    padding-bottom: 23px;
    min-height: 196px;
    border: none;
    width: 315px;
  }

  .card__wrapper-big {
    flex-direction: column;
  }

  .card__img {
    width: 315px;
    height: 462px;
    background-color: gold;
  }

  .card__text {
    margin-right: 0;
    padding-bottom: 37px;
  }

  .card__text-box {
    padding-bottom: 11px;
  }

  .card__footer {
    margin-top: auto;
    margin-bottom: 0;
    padding-left: 0;
  }
}
