.contacts-wrap {
  // .wrapper-mob();
  margin-top: 87px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-left: -2px;
}

.contacts__email-key,
.contacts__email-value,
.contacts__adress-key {
  display: inline;
  font-size: 15px;
  line-height: 30px;
  color: @col-grey;

  margin-right: 26px;
}

.contacts__adress-value {
  font-size: 15px;
  line-height: 30px;
  color: @col-grey;

  margin-left: 5px;
  display: block;
  width: 145px;
}

.contacts__email-value {
  text-align: left;
  margin-left: 0;
  padding-bottom: 4px;

  border-bottom: 1px solid @col-light;
}

.contacts__email-wrap {
  // display: flex;
  margin-bottom: 30px;
}

.contacts__adress-wrap {
  display: flex;
}

.contacts__written-wrap {
  .wrapper-mob;
  margin-top: 35px;
  margin-bottom: 39px;
}

.contacts__text-wrap {
  .wrapper-mob();
  margin-bottom: 37px;
}

.contacts__written {
  font-size: 18px;
  background-color: none;
}

.contacts__map {
  position: relative;
  // .wrapper-mob();
}

.contacts__map-point {
  position: absolute;
  top: 30%;
  left: 40%;
}

.contacts__map-iframe {
  margin: 0 auto;
  display: block;
  border: none;
}


@media only screen and (min-width: @tablet-width) {
  .contacts {
    box-sizing: border-box;
    margin-top: 145px;
  }

  // .contacts-wrap {
  //   .wrapper-tab();
  // }

  .contacts__text-wrap {
    .wrapper-tab();
    position: relative;
  }

  .contacts__title {
    .title-tab();

    margin-bottom: 49px;
    margin-left: -5px;
  }

  .contacts__title::after {
    content: " ";
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='46.68px' height='81.691px' viewBox='-11.34 -28.346 46.68 81.691' enable-background='new -11.34 -28.346 46.68 81.691' xml:space='preserve'%3E%3Cg id='miu'%3E%3Cg id='Artboard-1' transform='translate(-755.000000, -443.000000)'%3E%3Cg id='slice' transform='translate(215.000000, 119.000000)'%3E%3C/g%3E%3Cg id='editor-flag-triangle-notification-glyph'%3E%3Cpath fill='%2363D1BB' d='M751.439,418.545v38.9l38.9-19.451L751.439,418.545z M743.66,496.346v-81.691h3.805v81.691H743.66z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Crect x='-11.34' y='-28.346' fill='%23231F20' width='3.805' height='81.691'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    position: absolute;
    top: -15px;
    right: -10px;
    width: 60px;
    height: 83px;

  }

  .contacts__email-key,
  .contacts__email-value,
  .contacts__adress-key,
  .contacts__adress-value {
    font-size: 17px;
  }

  .contacts__content {
    display: flex;
  }

  .contacts__email-key {
    margin-right: 19px;
  }

  .contacts__email-wrap {
    margin-right: 27px;
  }

  .contacts__adress-value {
    margin-left: -1px;
    width: 220px;
  }

  .contacts__map-iframe {
    width: 768px;
  }

  .contacts__map {
    margin: 0;
    margin-top: 56px;
  }

  .contacts__map-point {
    position: absolute;
    top: 31%;
    left: 46%;
  }

  .contacts__written-wrap {
    .wrapper-tab();
  }

  .contacts__written {
    font-size: 17px;
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 57px;
    width: 230px;
  }
}

@media only screen and (min-width: @desktop-width) {
  .contacts {
    .wrapper-desk();
    margin-top: 170px;
    position: relative;
    margin-bottom: 102px;
  }

  .contacts-wrap {
    display: flex;
    .wrapper-desk();
  }

  .contacts__text-wrap {
    padding-left: 175px;
    box-sizing: border-box;
    margin-top: 82px;
    padding-right: 20px;
    width: 50%;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;
  }

  .contacts__map {
    width: 50%;
  }

  .contacts__map-iframe {
    width: 100%;
  }

  .contacts__content {
    display: flex;
    flex-direction: column;
  }

  .contacts__written {
    position: absolute;
    left: 16.67%;
    bottom: -54px;
  }
}
