.contacts {
  .wrapper-mob();
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;

  margin-top: 98px;
  margin-bottom: 25px;
}

.contacts__email-key,
.contacts__email-value,
.contacts__adress-key,
.contacts__adress-value {
  display: inline;
  font-size: 15px;
  line-height: 30px;
  color: @col-grey;
  margin: 0;
}

.contacts__email-value {
  text-align: left;
  margin-right: 0;
}

.contacts__written {
  background-color: none;
}

@media only screen and (min-width: @tablet-width) {
  .contacts{
    .wrapper-tab();
  }

  .contacts__title {
    .title-tab();
  }

  .contacts__written {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }
}
