.footer {
  background-color: #f1f1f1;
}

.footer__wrap {
  margin: 0 30px;
  padding-top: 27px;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  width: 150px;
  margin-left: 57px;
  margin-top: 0;
}

.footer__social-item {
  margin-right: 8px;
}

.footer__develop {
  position: relative;
  margin-top: 20px;

  border-top: 1px solid#ececec;
}

.footer__develop-text {
  display: block;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  padding-top: 27px;
  padding-left: 37px;
  padding-bottom: 33px;
}

.footer__develop-logo--img {
  position: absolute;
  top: 21px;
  right: 39px;

  fill: @col-light;
}

.footer__logo {
  display: none;
}

.footer__social-link {
  &:hover {
    .footer__social-svg {
      fill: #46c1ae;
    }
  }

  &:active {
    .footer__social-svg {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}

.footer__develop-logo {
  &:hover {
    .footer__develop-logo--img {
      fill: #46c1ae;
    }
  }

  &:active {
    color: #bfbfbf;

    .footer__develop-logo--img {
      fill: #bde3dd;
    }
  }
}

@media only screen and (min-width: @tablet-width) {
  .footer__logo {
    display: block;
    margin-top: 10px;
    position: relative;
    margin-right: 100px;

    &:hover {
      .footer__logo-svg {
        fill: #46c1ae;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  .footer__logo-svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .footer__wrap {
    .wrapper-tab();
    display: flex;
    justify-content: space-between;

    padding-top: 41px;
    padding-bottom: 37px;
  }

  .footer__social {
    margin-left: 87px;
    margin-top: 17px;
  }

  .footer__develop-text {
    padding: 0;
  }

  .footer__develop {
    padding-right: 57px;
    padding-top: 2px;
    border: none;
  }

  .footer__develop-logo--img {
    top: -3px;
    right: 0;
  }
}

@media only screen and (min-width: @desktop-width) {
  .footer__wrap {
    .wrapper-desk();
  }

  .footer__logo {
    margin-right: 102px;
  }
}
