.header {
  margin: 0 auto;
  width: 320px;
  // .wrapper-mob();
  // position: relative;
}

.header__wrapper {
  width: 100%;
  // border-bottom: 1px solid #ececec;
}

.header__logo {
  display: block;
  height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__toggle {
  &--close {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='19.958px' height='14px' viewBox='0 0 19.958 14' enable-background='new 0 0 19.958 14' xml:space='preserve'%3E%3Crect fill='%23231F20' width='19.958' height='2'/%3E%3Crect y='6' fill='%23231F20' width='19.958' height='2'/%3E%3Crect y='12' fill='%23231F20' width='19.958' height='2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
  }

  &--open {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20.514px' height='20.512px' viewBox='0 0 20.514 20.512' enable-background='new 0 0 20.514 20.512' xml:space='preserve'%3E%3Cpolygon fill='%23231F20' points='20.513,1.414 19.099,0 10.256,8.842 1.414,0 0,1.414 8.842,10.256 0,19.098 1.414,20.512 10.256,11.67 19.099,20.512 20.513,19.098 11.671,10.256 '/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
  }
  border: none;
  background: none;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 30px;
  top: 29px;
  padding: 0;
}


.header__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__menu-item {

  padding-top: 27px;
  padding-bottom: 26px;
  padding-left: 75px;
  background-color: #ffffff;
  border-top: 1px solid #ececec;
}

.header__menu-item:first-child {
  border-top: 1px solid #ececec;
}

.header__menu-link {
  position: relative;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.header__menu-text--search {
  display: block;
}

.header__menu-link--cart::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='20.294px' height='18.849px' viewBox='264.205 370.961 20.294 18.849' enable-background='new 264.205 370.961 20.294 18.849' xml:space='preserve'%3E%3Cpath fill='%23231F20' d='M283.75,378.19h-3.151l-3.407-6.814c-0.185-0.37-0.634-0.52-1.006-0.335 c-0.371,0.186-0.521,0.636-0.335,1.006l3.071,6.143h-9.138l3.072-6.143c0.185-0.371,0.035-0.821-0.335-1.006 c-0.37-0.185-0.821-0.035-1.006,0.335l-3.407,6.814h-3.151c-0.414,0-0.75,0.336-0.75,0.75s0.336,0.75,0.75,0.75h0.157l0.855,2.991 c-0.187,0.137-0.316,0.347-0.316,0.595c0,0.396,0.309,0.71,0.697,0.739l1.656,5.795h12.697l1.656-5.795 c0.388-0.028,0.698-0.344,0.698-0.739c0-0.249-0.129-0.459-0.316-0.596l0.854-2.991h0.157c0.414,0,0.75-0.336,0.75-0.75 S284.164,378.19,283.75,378.19z M279.569,388.311h-10.433l-1.224-4.284h12.881L279.569,388.311z M281.222,382.526h-13.739 l-0.81-2.836h15.359L281.222,382.526z'/%3E%3C/svg%3E");
  position: absolute;
  top: 4px;
  left: -45px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.header__menu-link--search::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='17.6px' height='17.6px' viewBox='-0.8 -0.8 17.6 17.6' enable-background='new -0.8 -0.8 17.6 17.6' xml:space='preserve'%3E%3Cpath fill='%23231F20' d='M16.47,14.93l-3.415-3.415C14.02,10.226,14.6,8.634,14.6,6.899c0-4.253-3.447-7.699-7.7-7.699 S-0.8,2.646-0.8,6.899s3.446,7.7,7.699,7.7c1.734,0,3.326-0.58,4.613-1.546l3.417,3.416c0.203,0.202,0.418,0.33,0.771,0.33 c0.607,0,1.1-0.492,1.1-1.1C16.8,15.459,16.739,15.2,16.47,14.93z M1.399,6.899c0-3.038,2.462-5.5,5.5-5.5s5.5,2.462,5.5,5.5 s-2.462,5.5-5.5,5.5S1.399,9.938,1.399,6.899z'/%3E%3C/svg%3E%0A");
  position: absolute;
  top: 4px;
  left: -43px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.header__delivery--out,
.header__menu-more--out {
  display: none;
}

@media only screen and (min-width: @tablet-width) {
  .header {
    width: 100%;
  }

  .header__wrapper {
    .wrapper-tab();
    // margin-bottom: -14px;
    // padding-top: 22px;
    // padding-left: 48px;
  }

  .header__toggle {
    display: none;
  }

  .header__menu-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;

    margin-bottom: -42px;
  }

  .header__menu-item {
    display: block;
    background: none;

    min-height: auto;
    padding: 0;
    padding-top: 17px;
    padding-left: 0;
    margin-right: 35px;
    border: none;
  }

  .header__menu-item:first-child {
    border: none;
  }

  .header__menu {
    position: relative;
    z-index: 1;
    border-top: 1px solid #ececec;
  }

  .header__menu-wrap {
    .wrapper-tab();
    position: relative;
  }

  .header__logo {
    display: block;
    height: 88px;
    width: 320px;

    padding-top: 22px;
    margin-left: -2px;
  }

  .header__logo-img {
    width: 113px;
    height: 46px;
    display: block;
    // margin-top: 22px;
    // margin-left: -2px;
  }

  .header__menu-link--cart::before {
    left: 32px;
    top: 35px;
  }

  .header__menu-link {
    font-size: 15px;
  }

  .header__menu-link--cart {
    font-size: 17px;
    position: absolute;
    right: 0;
    top: -89px;
    min-height: 88px;
    padding-left: 83px;
    padding-top: 31px;
    border-left: 1px solid #ececec;
  }

  .header__menu-link--search {
    position: absolute;
    right: 50%;
    top: -89px;
    min-height: 88px;
    border-right: 1px solid #ececec;

    margin-right: 13px;
  }

  .header__menu-link--search::before {
    top: 37px;
    left: 34px;
    width: 21px;
    height: 21px;
  }

  .header__menu-text--search {
    display: none;
  }

  .header__delivery {
    font-size: 15px;
    color: @col-grey;
  }

  .header__delivery--out {
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    padding: 15px 0;
  }
}

@media only screen and (min-width: @desktop-width) {
  .header {
    box-sizing: border-box;
    position: relative;
  }

  .header__wrapper {
    .wrapper-desk();
    padding: 0;
    border: none;
    position: relative;
  }

  .header__menu-wrap {
    .wrapper-desk();

    position: relative;
  }

  .header__menu-big {
    width: 100%;
    border-bottom: 1px solid #ececec;
  }

  .header__logo {
    position: absolute;
    display: block;
    width: 149px;
    height: 72px;
    left: 452px;
    top: -13px;
  }

  .header__logo-img {
    width: 149px;
    height: 72px;
    margin: 0;
  }

  .header__menu-link--cart::before {
    left: 32px;
    top: 35px;
  }

  .header__menu-link--cart {
    font-size: 17px;
    position: absolute;
    right: 2px;
    top: 0;
    min-height: 88px;
    padding-left: 83px;
    padding-top: 31px;
    border-left: 1px solid #ececec;
  }

  .header__menu-link--search {
    position: absolute;
    right: 32%;
    top: 0;
    min-height: 88px;
    border-right: 1px solid #ececec;
    margin-right: 13px;
  }

  .header__menu-link {
    font-size: 15px;
  }

  .header__delivery--out {
    display: block;
    position: absolute;
    top: 91px;
    right: 0;
    padding: 15px 0;
  }

  .header__menu-link {
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
  }

  .header__menu-list {
    display: flex;
    .wrapper-desk();
    position: relative;
    // margin-bottom: 32px;
  }

  .header__menu-item {
    padding-top: 32px;
    margin-right: -26px;
    min-height: 88px;
    background: none;
  }

  .header__menu-item:nth-child(1) {
    width: 185px;
    border-right: 1px solid #ececec;
  }

  .header__menu-item:nth-child(2) {
    width: 230px;
    margin-left: 60px;
  }

  .header__menu {
    border: none;
    background: none;
  }

  .header__menu-more--out {
    display: block;
  }

  .header__menu-more {
    .wrapper-desk();

    display: flex;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    padding-top: 14px;
  }

  .header__menu-more-item {
    margin-top: 2px;
  }

  .header__menu-more-link {
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;

    padding-right: 61px;
  }

  .header__second-menu {
    margin-bottom: -41px;
  }
}
