.header {
  .wrapper-mob();
  // position: relative;
}

.header__wrapper {
  width: 100%;
  // border-bottom: 1px solid #ececec;
}

.header__logo {
  display: block;
  height: 80px;
}

.header__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__menu-item {
  padding-top: 25px;
  padding-bottom: 28px;
  padding-left: 45px;
  background-color: #ffffff;


  border-top: 1px solid #ececec;
}

.header__menu-item:first-child {
  border: none;
}

.header__menu-link {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.header__delivery--out,
.header__menu-more--out {
  display: none;
}

@media only screen and (min-width: @tablet-width) {
  .header {
    width: 100%;
  }

  .header__wrapper {
    .wrapper-tab();
    margin-bottom: 8px;
  }

  .header__menu {
    border-top: 1px solid #ececec;
    background: #f1f1f1;
  }

  .header__menu-wrap {
    .wrapper-tab();
    position: relative;
  }


  .header__menu-item:last-child {
    border-bottom: none;
  }

  .header__logo {
    display: block;
    height: 80px;
    width: 320px;
  }

  .header__menu-link {
    font-size: 15px;
  }

  .header__menu-item {
    min-height: 89px;
    padding-top: 17px;
    padding-left: 0;
    padding-right: 35px;
    border: none;

    background: #f1f1f1;
  }

  .header__menu-link--cart {
    font-size: 17px;
    position: absolute;
    right: 0;
    top: -57px;
  }

  .header__menu-item--search {
    display: none;
  }


  .header__menu-list {
    .wrapper-tab();
    display: flex;
    align-items: flex-start;
  }

  .header__delivery {
    font-size: 15px;
    color: @col-grey;
  }

  .header__delivery--out {
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
    padding: 15px 0;
  }
}

@media only screen and (min-width: @desktop-width) {
  .header {
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;
  }

  .header__wrapper {
    .wrapper-desk();
    border: none;
  }

  .header__menu-wrap {
    .wrapper-desk();
    position: relative;
  }

  .header__logo {
    position: absolute;
    right: 50%;
  }

  .header__menu-link--cart {
    font-size: 17px;
    position: absolute;
    right: 2px;
    top: 31px;
  }

  .header__delivery--out {
    display: block;
    position: absolute;
    top: 91px;
    right: 0;
    padding: 15px 0;
  }


  .header__menu-more {
    .wrapper-desk();

    display: flex;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    padding-top: 14px;

  }

  .header__menu-link {
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
  }

  .header__menu-list {
    display: flex;
    .wrapper-desk();
  }

  .header__menu-item {
    padding-top: 32px;
    margin-right: -26px;

    background: none;
  }

  .header__menu-item:nth-child(1) {
    width: 185px;
    border-right: 1px solid #ececec;
  }

  .header__menu-item:nth-child(2) {
    width: 230px;
    margin-left: 60px;
  }

  .header__menu {
    border: none;
    background: none;
  }

  .header__menu-more-item {
    margin-top: 2px;
  }

  .header__menu-more-link {
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;

    padding-right: 61px;
  }
}
