.intro__title {
  .intro-title();
  .wrapper-mob();
  margin: 68px auto 123px auto;
}

.intro__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.intro__item {
  padding-top: 25px;
  padding-bottom: 30px;
}

.intro__item--light {
  background-color: @col-light;
}

.intro__item--dark {
  background-color: @col-dark;
}

.intro__item-link {
  display: block;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;

  padding-left: 29px;
  width: 150px;
}

@media only screen and (min-width: @tablet-width) {
  .intro {
    .wrapper-tab();
  }
  .intro__title {
    font-size: 43px;
    line-height: 50px;
    text-align: center;

    width: auto;
    margin-top: 70px;
    margin-bottom: 374px;
  }

  .intro__list {
    display: flex;
  }

  .intro__item-link {
    font-size: 20px;
    line-height: 30px;

    padding-top: 3px;
    padding-left: 35px;
  }
  .intro__item {
    width: 334px;
  }


}
