.intro__title {
  .intro-title();
}

.intro__list {
  list-style: none;
}

.intro__item--light {
  background-color: @col-light;
}

.intro__item--dark {
  background-color: @col-dark;
}

.intro__item-link {
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
}
