.process {
  .wrapper-mob();
  position: relative;
  border: 1px solid #ececec;
  margin-bottom: 58px;

  &:hover {
    box-shadow: 0 8px 8px 2px #ececec;
  }

  &:active {
    box-shadow: 0 2px 8px 2px #ececec;
  }
}

.process__title {
  .item-title();
  margin-left: 90px;
  margin-top: 23px;
  margin-bottom: 24px;
}

.process__title::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='32px' height='32px' viewBox='0 0 32 32' enable-background='new 0 0 32 32' xml:space='preserve'%3E%3Cg transform='translate(0 192)'%3E%3Cpath d='M26-177l6-4v16l-6-4V-177z M24-177v8c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-8c0-2.209,1.791-4,4-4h10 c0-1.105,0.895-2,2-2v-2H5c-0.553,0-1-0.447-1-1s0.447-1,1-1h12c0.553,0,1,0.447,1,1v3c1.105,0,2,0.895,2,2 C22.209-181,24-179.209,24-177z M12-177H4v8h8V-177z M20-176c0-0.553-0.447-1-1-1h-4c-0.553,0-1,0.447-1,1s0.447,1,1,1h4 C19.553-175,20-175.447,20-176z' fill='%2363d1bb'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 32px 0;
  height: 61px;
  width: 71px;
  position: absolute;
  top: 29px;
  left: 1px;
}

.process-wrapper {
  padding: 13px 33px 32px 33px;
}


.process__description {
  font-size: 13px;
  line-height: 24px;
  color: @col-grey;
  margin-bottom: 25px;
}

.process__order {
  .button();
  width: 190px;
  margin: 0 auto;
}

.process__image--svg {
  cursor: pointer;
  position: absolute;
  top: 130px;
  left: 80px;

  &:hover {
    width: 100px * 1.2;
    height: 77px * 1.2;
    top: 120px;
    left: 68px;
  }

  &:active {
    opacity: 0.3;
    width: 100px * 0.8;
    height: 77px * 0.8;
    top: 130px;
    left: 90px;
  }
}

@media only screen and (min-width: @tablet-width) {
  .process {
    .wrapper-tab();
    padding-top: 0;
    padding-bottom: 45px;

    margin-bottom: 63px;

    display: flex;
    flex-direction: column;
  }

  .process__title {
    position: relative;
    font-size: 20px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 17px;
    padding-left: 15px;
  }

  .process__picture {
    order: -1;

    width: 100%;
    height: 455px;
    margin-bottom: 20px;
  }

  .process-wrapper {
    padding: 0 40px;
  }

  .process__description {
    font-size: 15px;
    line-height: 30px;
    padding: 0;
    margin-bottom: 36px;
  }

  .process__order {
    width: 100%;
    margin-bottom: 0;
  }

  .process__title::before {
    top: -5px;
    left: -81px;
  }

  .process__picture::after {
    top: 186px;
    left: 251px;
  }

  .process__image--svg {
    position: absolute;
    top: 186px;
    left: 283px;

    &:hover {
      top: 176px;
      left: 271px;
    }

    &:active {
      opacity: 0.3;
      top: 176px;
      left: 293px;
    }
  }
}

@media only screen and (min-width: @desktop-width) {
  .process {
    .wrapper-desk();
    display: block;
    position: relative;
    margin-bottom: 105px;
    padding-bottom: 0;
  }

  .process__title {
    position: absolute;
    right: 205px;
    top: 79px;
    font-size: 20px;
    line-height: 24px;
    width: 100px;
  }

  .process__title::before {
    top: -56px;
    left: -14px;
  }

  .process__picture::after {
    top: 190px;
    left: 259px;
  }

  .process-wrapper {
    width: 370px;
    margin-right: 0;
    margin-left: auto;
    padding-left: 83px;
    padding-right: 57px;
  }

  .process__image {
    width: 682px;
    height: 455px;
    position: absolute;
    top: 0;
  }

  .process__image--svg {
    position: absolute;
    top: 190px;
    left: 291px;
    z-index: 2;

    &:hover {
      top: 180px;
      left: 279px;
    }

    &:active {
      opacity: 0.3;
      top: 180px;
      left: 301px;
    }
  }

  .process__description {
    padding-top: 161px;
    margin-bottom: 46px;
  }

  .process__order {
    margin-bottom: 60px;
  }
}
