.week-product {
  .wrapper-mob();
}

.week-product__title {
  font-size: 25px;
  line-height: 30px;

  margin-top: 27px;
  margin-bottom: 4px;
}

.week-product__label {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: @col-light;

  margin-top: 27px;
}

.week-product__description {
  font-size: 15px;
  line-height: 24px;
  color: @col-grey;

  margin-top: 20px;
  margin-bottom: 1px;
}

.week-product__params {
  padding-top: 12px;
}

.week-product__params-row {
  padding-bottom: 6px;
  padding-top: 8px;
  border-bottom: 2px solid #ececec;
}

.week-product__params-row:first-child {
  padding-top: 0;
}

.week-product__params-key,
.week-product__params-value {
  display: inline;
  font-size: 15px;
  line-height: 20px;
  color: @col-grey;
}

.week-product__params-key {
  padding-right: 14px;
}

.week-product__image {
  margin-top: 15px;
}

.week-product__cost {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @col-grey;

  text-align: center;

  margin-bottom: 40px;
}

@media only screen and (min-width: @tablet-width) {
  .week-product {
    .wrapper-tab();
  }

  .week-product__title {
    .title-tab();
    width: 500px;
  }

  .week-product__label {
    font-size: 17px;
    line-height: 17px;
    text-align: center;

    width: 100px;
    margin-top: 37px;
  }

  .week-product__description {
    font-size: 17px;
    line-height: 30px;

    width: 290px;
    margin-left: -5px;
    margin-bottom: 30px;
  }

  .week-product__wrapper-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
    margin-top: 20px;
    margin-left: -5px;
    margin-right: 12px;
  }

  .week-product__wrapper {
    display: block;

    position: relative;
    width: 50%;
  }

  .week-product__params {
    padding-right: 43px;
  }

  .week-product__image {
    position: absolute;
    margin: 0;
    top: 6px;
    right: -330px;
  }

  .week-product__cost {
    text-align: left;
    font-size: 20px;
    line-height: 24px;

    margin-left: 67px;
    margin-top: 56px;
    margin-bottom: 36px;
  }

  .week-product__order {
    width: 87%;
    margin-left: -5px;
  }
}
