.week-product {
  .wrapper-mob();
}

.week-product__title {
  font-size: 25px;
  line-height: 30px;

  margin-top: 27px;
  margin-bottom: 4px;
}

.week-product__label {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: @col-light;

  margin-top: 27px;
}

.week-product__description {
  font-size: 15px;
  line-height: 24px;
  color: @col-grey;

  margin-top: 20px;
  margin-bottom: 1px;
}

.week-product__params {
  padding-top: 12px;
}

.week-product__params-row {
  padding-bottom: 11px;
  padding-top: 8px;
  border-bottom: 1px solid #ececec;
  display: flex;
}

.week-product__params-row:first-child {
  padding-top: 0;
}

.week-product__params-key,
.week-product__params-value {
  display: inline;
  font-size: 15px;
  line-height: 20px;
  color: @col-grey;

  margin: 0;
}

.week-product__params-key {
  margin-right: 27px;
  width: 70px;
}

.week-product__image {
  margin-top: 13px;
}

.week-product__cost {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @col-grey;

  text-align: center;
  margin-bottom: 26px;
}

@media only screen and (min-width: @tablet-width) {
  .week-product {
    .wrapper-tab();
  }

  .week-product__title {
    .title-tab();
  }

  .week-product__label {
    font-size: 17px;
    line-height: 17px;
    text-align: center;

    width: 100px;
    margin-top: 37px;
  }

  .week-product__description {
    font-size: 17px;
    line-height: 30px;

    width: 290px;
    margin-bottom: 32px;
  }

  .week-product__wrapper-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
    margin-top: 20px;
    margin-left: -5px;
    margin-right: 12px;
  }

  .week-product__wrapper {
    display: block;
    position: relative;
    width: 50%;
  }

  .week-product__params {
    padding-right: 43px;
  }

  .week-product__image {
    position: absolute;
    margin: 0;
    top: 6px;
    right: -334px;
    width: 335px;
  }

  .week-product__cost {
    text-align: left;
    font-size: 20px;
    line-height: 24px;

    margin-left: 71px;
    margin-top: 55px;
    margin-bottom: 34px;
  }

  .week-product__order {
    width: 292px;
    margin-left: -2px;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

@media only screen and (min-width: @desktop-width) {
  .week-product {
    .wrapper-desk();
    position: relative;
  }

  .week-product__label {
    font-size: 17px;
    line-height: 17px;
    position: absolute;
    width: 120px;
    text-align: center;
    left: 23px;
    top: 103px;
  }

  .week-product__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 125px;
    margin-bottom: 4px;
    margin-left: 171px;
  }

  .week-product__wrapper-text {
    margin-top: 22px;
    .wrapper-desk();
  }

  .week-product__wrapper {
    position: relative;
    width: 350px;
    margin-left: 176px;
    margin-bottom: 50px;
  }

  .week-product__description {
    margin-bottom: 45px;
    margin-top: 45px;
  }

  .week-product__image {
    position: absolute;
    right: 0;
    top: -159px;
    left: 350px;
    height: 637px;
    width: 525px;
    z-index: -1;
  }

  .week-product__params {
    margin-bottom: 110px;
  }

  .week-product__cost {
    margin-left: 72px;
    margin-bottom: 33px;
  }

  .week-product__order {
    padding: 14px 0;
  }
}
