.title() {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.title-tab() {
  font-size: 43px;
  line-height: 50px;
  font-weight: bold;
}

.intro-title() {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

.item-title() {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.form-placeholder() {
  font-size: 17px;
  line-height: 18px;
  color: @col-grey;
  opacity: 0.3;
}

.button() {
  font-size: 17px;
  line-height: 16px;
  color: @col-grey;

  border: 2px solid @col-grey;
}

.wrapper-mob() {
  margin: 0 auto;
  width: 260px;
}

.wrapper-tab() {
  margin: 0 auto;
  width: 668px;
}

.wrapper-desk() {
  margin: 0 auto;
  width: 1050px;
}
